<div class="document thumbnail"> 
  <%= link_to_document(document, :label => thumb_tag(document['id']), :counter => (document_counter + 1 + @response.params[:start].to_i)) %>
  <% if document[Blacklight.config[:show][:heading]] %>
    <%= link_to_document(document, :label => truncate(document[Blacklight.config[:show][:heading]].first, :length => 35, :omission => "..."), :counter => (document_counter + 1 + @response.params[:start].to_i),:title=>document[Blacklight.config[:show][:heading]] ) -%>
  <% end -%>
  <%= Array.wrap(document['date_display']).first %>
</div>
