<div id="collection-id-box">
  <h2 class="title">Edward A. Feigenbaum Papers</h2>
  
  <ul class="links horizontal">
     <%# <li> link_to("Collection Home", collection_path("1")) </li> %>
    <li><%= link_to("Finding Aid", "http://www.oac.cdlib.org/findaid/ark:/13030/kt0j49r6m6") %></li>
    <li><%= link_to("Access", "http://searchworks.stanford.edu/view/4085637") %></li>
  </ul>
</div>