<span class="doc_back_to_cat"><%= link_back_to_catalog :label=>'« Back to Results' %></span>
<div id="docPreviousNextDocument">
		<span class="show_previous"><%= link_to_previous_document(@previous_document) %></span>
		<span class="show_next"><%= link_to_next_document(@next_document) %></span>
</div>