<% if paginate_params(@response).num_pages > 1 %>
    <div class="windowed_links">
      <% # will_paginate is called oddly because we want next/prev together
         # at left for screen reader accessibility. We use CSS to restore
         # a more conventional next-on-right. 
      %>
 			<%= paginate_rsolr_response(@response, :outer_window => 4, :theme => 'salt_window') %>
   
    </div>
  <% end %>


