<% if current_user %>
 <div id="logged-in"><%= link_to "Log Out", destroy_user_session_path %>[<%= link_to "Hello, #{current_user.username}", edit_user_registration_path %>]</div>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>

	